html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  margin:0 auto;
  text-align:center;
}
.main .container {
   position: relative;
   top: 100px;
}

.main h1 {
  font-size: 150px;
  color:#fff;
  margin:0;
}

.main p {
  font-size: 18px;
  color:#fff;
  margin:0 0 20px 0;
}
.main .btn {
  background-color:#1c1c1c;
  color:#fff;
  padding:8px 30px;
  font-size:18px;
  text-decoration:none;
  display:inline-block;
}


/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color:#1c1c1c;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}

.supportingß h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0 auto;
  text-align:center;
}
.feature .container {
   position: relative;
   top: 200px;
}

.feature h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  height: 600px;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0 auto;
  text-align:center;
}

.footer .container {
   position: relative;
   top: 200px;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.footer .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover {
  background:#ffa800;
  color:#000;
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}